@font-face{
    font-family:Comic;
    src:url("fonts/Comic.ttf")
}

h1{
    font-family:Comic;
}

h2{
    font-family:Comic;
}

h3{
    font-family:Comic;
}

h4{
    font-family:Comic;
}

body{
    font-family:Comic;
}

td{
    font-family:Comic;
}

th{
    font-family:Comic;
}

table{
    font-family:Comic;
}

tr{
    font-family:Comic;
}