@font-face{
    font-family:Comic;
    src:url("fonts/Comic.ttf")
}
header{
    font-family:Comic;
    margin-top:5px
}
footer{
    font-family:Comic;
    margin-top:5px;
}
h1{
    font-family:Comic;
        margin-top: 24px;
}

h2{
    font-family:Comic;
}

h3{
    font-family:Comic;
}

h4{
    font-family:Comic;
}

body{
    font-family:Comic;
    background-color: gray;
}

td{
    font-family:Comic;
}

th{
    font-family:Comic;
}

table{
    font-family:Comic;
}

tr{
    font-family:Comic;
}
a:link {
  color: black; /* A widely recognized link color */
  text-decoration: underline; /* Always include underline */
}

a:visited {
  color: black; /* A different color for visited links */
  text-decoration: underline;
}
a:focus{
    outline: 3px solid #ffd54f;
    outline-offset: 2px;
}