@font-face{
    font-family:"Comic";
    src:url("../../fonts/Comic.ttf")
}
td, th, table, tr{
    border: 4px lime;
    border-collapse: collapse;
    font-family: Comic;

}
body{
background-color:aliceblue;
font-family:"Comic"
}
h1{
    background-color:#5bcefa;
    font-family: Comic;
}
#block1{
    background-color:#f5a9b8;
    font-family: Comic;
}
#firstLink{
    background-color: white;
    font-family: Comic;
}
#secondLink{
    background-color: white;
    font-family: Comic;
}
h2{
    background-color: #f5a9b8;
    font-family: Comic;
}
#Info{
    background-color:#f5a9b8;
    font-family: Comic;
}