td, th, table, tr{
    border: 4px lime;
    border-collapse: collapse;
    font-family: sans-serif

}
body{
background-color:aliceblue;
font-family:sans-serif
}
h1{
    background-color:#5bcefa;
    font-family: sans-serif
}
#block1{
    background-color:#f5a9b8;
    font-family: sans-serif;
}
#firstLink{
    background-color: white;
    font-family: sans-serif;
}
#secondLink{
    background-color: white;
    font-family: sans-serif;
}
h2{
    background-color: #f5a9b8;
    font-family: sans-serif;
}
#Info{
    background-color:#f5a9b8;
    font-family: sans-serif;
}